@keyframes boxShrink{
	from {
		/* transform: scale(5) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
		/* filter:blur(0px) opacity(0) saturate(2); */
		/* box-shadow: 500px 500px 400px 200px rgba(0,0,0,0.4); */
		
	  }
	
	  to {
		/* transform: scale(1) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
		/* filter:blur(0px) opacity(1) saturate(1); */
		/* box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2); */
		
	  }
}

@keyframes shrink{
	from {
		transform: scale(1) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		filter:blur(200px) opacity(0);
		
	  }
	
	  to {
		transform: scale(1) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		filter:blur(0px) opacity(1);
		
	  }
}

@keyframes loop{
	0%{
		transform: translateY(0%);
	}

	50%{
		transform: translateY(-50%);
	}

	100%{
		transform: translateY(0%);
	}
}

@keyframes loop2{
	0%{
		transform: translateX(0%);
	}

	50%{
		transform: translateX(-50%);
	}

	100%{
		transform: translateX(0%);
	}
}

body{
	/* background-color: #262626; */
	background-color: #0C090D;
	/* background-color:#02182B; */
	padding:0px;
	margin:0px;
	padding-bottom: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}
p::selection{
	background: rgba(255,20,108,1);
}
h1::selection{
	background: rgba(255,20,108,1);
}
h2::selection{
	background: rgba(255,20,108,1);
}
div::selection{
	background: rgba(255,20,108,1);
}
a{
	text-decoration: none;
}
h1{
	z-index: 1;   
	overflow: hidden;
	width: 600px;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding:200px;
	min-height: 100px;
	border-radius: 10px;
	font-size:2.2em;
	animation-name: boxShrink;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
	position: absolute;
	top: 80px;
	transition-duration: .5s;
	cursor: default;
}
h1::before{
	content: "";
	position: absolute;
	background: rgb(255,63,20);
	background: linear-gradient(152deg, rgba(255,63,20,1) 0%, rgba(255,20,108,1) 34%, rgba(188,40,255,1) 67%, rgba(40,167,255,1) 100%);
	top: 0;
	left: 0;
	/* transition: transform 1s;
	transition: filter 1s; */
	transition-duration: 1s;
	z-index: -1;
	width: 100%;
	height: 200%;
	animation: loop 20s ease-in-out 0s infinite normal forwards;
}
h1:hover::before{
	/* /transform: translateY(-50%); */
	/* transform: translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg); */
	/* animation-play-state: paused; */
	filter: grayscale(1) sepia(1) brightness(1.1) saturate(1.5);
}
h1:hover{
	/* transform: translate(-5px,-5px); */
}
p{
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	animation-name: none;
	animation-duration: 1.5s;
	animation-delay: 0s;
	text-shadow: 0px 0px 5px  rgba(0,0,0,0.4);
}
.ytVidContainerCorner{
	border-radius: 25px;
	width:100%;
	overflow: hidden;
}
.ytVidContainer{
	border-radius: 25px;
	width:100%;
	position: relative;
}
.ytVidContainer::before{
	position: absolute;
	top:-1px;
	left:-1px;
	width:calc(100% + 2px);
	height:calc(100% + 2px);
	background-color: white;
	content: "";
	z-index: -1;
	background: linear-gradient(152deg, rgba(255,63,20,0.6) 0%, rgba(255,20,108,0.6) 34%, rgba(188,40,255,0.6) 67%, rgba(40,167,255,0.6) 100%);
	border-radius: 25px;
	filter:blur(500px) ;
	transition-duration: 2s;
	border: 0px solid red;
}
.ytVidContainer:hover::before{
	top:-49px;
	left:-49px;
	border: 50px solid rgba(255,20,108);
}
#nav-bar{
	width:100vw;
	min-height:60px;
	border-bottom:black solid 1px;
	text-align: center;
	margin-bottom: 500px;
}
.nav-bar-container{

}
.logo-container{
	float:left;
	width:0px;
	height:inherit;
	color:white;
	overflow-y: hidden;
	font-size:2em;
}
.breadcrumbs-container{
	height: inherit;
}
.breadcrumb{
	display: inline-block;
	height:inherit;
	width:auto;
	color:rgb(162, 162, 162);
}
.breadcrumb-text{
	margin-top:16px;
	font-size: 1.15em;
	font-family: Segoe UI;
	text-decoration: none;
	color:rgba(255,255,255,0.4);
	padding: 0px 10px 5px 10px;
	border-radius: 20px;
	font-weight: 100;
	margin: 16px -6px 0px -6px;
	cursor: pointer;
}
.breadcrumb-text:hover{
	text-decoration: underline;
}
div.breadcrumb:nth-of-type(even) > .breadcrumb-text:hover{
	text-decoration: none;
}
div.breadcrumb:nth-of-type(even) > .breadcrumb-text{
	cursor: default;
}
.margin-container{
	width:1000px;
	margin-top:50px;
	padding: 0px;
	display: inline-block;
	text-align: left;
}
.paragraph-container{
	width:60%;
	margin: 50px 0px;
	/* padding: 0px 20%; */
	text-align: left;
	display: inline-block;
}

@media (max-width: 600px) {
	.margin-container{
		width: auto;
		margin-top:50px;
		padding: 0px;
		display: inline-block;
		text-align: left;
	}
	.paragraph-container {
		width: auto;
	 	padding: 0px 10px;
		margin: 0px 0px;
	}
}
.preset-container-container{
	width:calc(100% - 180px);
	height:auto;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	/* background-color: rgba(28, 27, 27,0.2); */
	/* background-color: rgba(255, 20, 108,0.2); */
	background: rgb(255,63,20);
	background: linear-gradient(152deg, rgba(255,63,20,0.1) 0%, rgba(255,20,108,0.1) 34%, rgba(188,40,255,0.1) 67%, rgba(40,167,255,.2) 100%);	
	padding: 20px 0px;
	margin: 0px 90px;
	border-radius: 20px;
	border: 0px solid rgba(0,0,0,0.1);
	/* overflow: hidden; */
	position: relative;
}
.preset-container-container::before{
	position: absolute;
	top:-2px;
	left:-2px;
	width:calc(100% + 4px);
	height:calc(100% + 4px);
	background-color: white;
	content: "";
	z-index: -1;
	background: linear-gradient(152deg, rgba(255,63,20,.8) 0%, rgba(255,20,108,.8) 34%, rgba(188,40,255,.8) 67%, rgba(40,167,255,.8) 100%);
	border-radius: 10px;
	filter: blur(100px);
	opacity: .6;
}
.preset-container{
	background-color: rgb(25,25,25);
	width:180px;
	height:180px;
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px;
	border-radius: 10px;
	text-align: center;
	transition-duration: .4s;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	position: relative;
	z-index: 1;
	filter: saturate(1);

}
.preset-container:hover{
	border: 0px solid white;
	width:180px;
	height:180px;
	transform: translate(0px,-0px);
	/* box-shadow: 0px 0px 80px -10px #ff146c; */
	z-index: 999;
	filter: saturate(1) brightness(1.5);
}

.preset-container > img{
	height: inherit;
	width: inherit;
	transition-duration: .25s;
}.preset-container:hover > img{
	filter: blur(1px);
	transform: scale(1.5);
}
.preset-container:hover > p{
	transition-duration: 0.25s;
	margin-top: -180px;
	padding-top:73px;
	filter: saturate(1);
	background-color:rgb(255, 20, 48,0.2);
	filter: blur(25px);
}
.preset-container > p{
	margin-top: -180px;
	padding-top:73px;
	transition-duration: .25s;
	width:inherit;
	background-color: rgb(255, 20, 48,1);
	z-index: 100;
	position: relative;
	padding-top:73px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	filter: saturate(0) blur(25px);
	cursor: pointer;
	height:180px;
	opacity:0;
	text-shadow: 1px 1px 10px black;
}
.preset-container > p:hover{
	margin-top: -180px;
	padding-top:73px;
	filter: saturate(1) blur(0px);
	/* background-color:rgb(255, 20, 48,0.2); */
	background: rgb(255,63,20);
	background: linear-gradient(152deg, rgba(255,63,20,0.6) 0%, rgba(255,20,108,0.2) 34%, rgba(188,40,255,0.4) 67%, rgba(40,167,255,1) 100%);
	opacity: 1;
}
.left-colomn-container{
	width:35%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}
div.left-colomn-section-header{
	text-align: right;
}
p.left-colomn-section-header{
	background: rgb(255,63,20);
	/* background: linear-gradient(152deg, rgba(255,63,20,0.6) 0%, rgba(255,20,108,0.2) 34%, rgba(188,40,255,0.4) 67%, rgba(40,167,255,1) 100%); */
	background: linear-gradient(152deg, rgba(255,63,20,0.6) 0%, rgba(255,20,108,0.2) 34%, rgba(188,40,255,0.4) 67%, rgba(40,167,255,1) 100%);
	margin-right: 20px;
	font-size: 3em;
	line-height: 15px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 100;
}
.paragraph-divider{
	width:calc(100% - 60px);
	height:1px;
	background: rgb(255,63,20);
	/* background: linear-gradient(152deg, rgba(255,63,20,0.6) 0%, rgba(255,20,108,0.2) 34%, rgba(188,40,255,0.4) 67%, rgba(40,167,255,1) 100%); */
	background: linear-gradient(152deg, rgba(255,63,20,0.6) 0%, rgba(255,20,108,0.6) 34%, rgba(188,40,255,0.6) 67%, rgba(40,167,255,0.6) 100%);
	margin: 70px 30px;
}
.no-margin{
	margin:20px 30px;
	opacity: 0.4;
}
.instructions{
	position: relative;
	background-color:rgba(12, 9, 13,.7);
	padding:5px 20px;
	border-radius: 10px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.1);
}
.instructions::before{
	position: absolute;
	top:-1px;
	left:-1px;
	width:calc(100% + 2px);
	height:calc(100% + 2px);
	background-color: white;
	content: "";
	z-index: -1;
	background: linear-gradient(152deg, rgba(255,63,20,0.6) 0%, rgba(255,20,108,0.6) 34%, rgba(188,40,255,0.6) 67%, rgba(40,167,255,0.6) 100%);
	border-radius: 10px;
	filter: blur(300px);
}
h2{
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	margin: 10px 0px -25px 0px;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 10;
}
.h2Desc{
	letter-spacing: 1;
	text-transform: lowercase;
	font-weight: 100;
	font-size: 1em;
	margin-top:20px;
	margin-bottom: -15px;
	opacity: .9;
	font-family: 'Courier New', Courier, monospace;
	background: linear-gradient(152deg, rgba(255,63,20,1) 0%, rgba(255,20,108,1) 34%, rgba(188,40,255,1) 67%, rgba(40,167,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 0px 6px rgba(255,20,108,.8);
}
.scale-container{
	width:180px;
	height:100px;
	border: 1px solid rgba(0,0,0,0);
	border-radius:10px;
	width:100%;
	margin: 0px 0px;
	user-select: none;
	position: relative;
	background: rgba(12, 9, 13,0);
	padding:10px;
}
.scale-container::before{
	position: absolute;
	top:-1px;
	left:-1px;
	width:calc(100% + 2px);
	height:calc(100% + 2px);
	background-color: white;
	content: "";
	z-index: -1;
	background: linear-gradient(152deg, rgba(255,63,20,1) 0%, rgba(255,20,108,1) 34%, rgba(188,40,255,1) 67%, rgba(40,167,255,1) 100%);
	border-radius: 10px;
	filter: blur(300px);
}
.scale-key-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.scale-key{
	width:100%;
	height:20px;
	margin:2px;
	padding: 10px 0px;
	text-align: center;
	color: rgba(12, 9, 13,1);
	background-color:rgb(255, 226, 237);
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	transition-duration: .125s;
}
.scale-key::before{
	position: absolute;
	top:-2px;
	left:-2px;
	width:calc(100% + 4px);
	height:calc(100% + 4px);
	background-color: white;
	content: "";
	z-index: -1;
	background: linear-gradient(152deg, rgba(255,63,20,.8) 0%, rgba(255,20,108,.8) 34%, rgba(188,40,255,.8) 67%, rgba(40,167,255,.8) 100%);
	border-radius: 10px;
	filter: blur(30px);
}
.sharp{
	color: rgb(255, 226, 237);
	background-color:rgba(12, 9, 13,1);
}
.scale-mode-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.scale-mode{
	width:100%;
	height:20px;
	margin:2px;
	padding: 10px 0px;
	text-align: center;
	color: rgba(12, 9, 13,1);
	background-color:rgb(255, 226, 237);
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	transition-duration: .125s;
}
.scale-mode::before{
	position: absolute;
	top:-2px;
	left:-2px;
	width:calc(100% + 4px);
	height:calc(100% + 4px);
	background-color: white;
	content: "";
	z-index: -1;
	background: linear-gradient(152deg, rgba(255,63,20,.8) 0%, rgba(255,20,108,.8) 34%, rgba(188,40,255,.8) 67%, rgba(40,167,255,.8) 100%);
	border-radius: 10px;
	filter: blur(30px);
	opacity: .6;
}
.chord-type{
	width:100%;
	height:20px;
	margin:2px;
	padding: 10px 0px;
	text-align: center;
	color: rgba(12, 9, 13,1);
	background-color:rgb(255, 226, 237);
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	transition-duration: .125s;
}
.chord-type::before{
	position: absolute;
	top:-2px;
	left:-2px;
	width:calc(100% + 4px);
	height:calc(100% + 4px);
	background-color: white;
	content: "";
	z-index: -1;
	background: linear-gradient(152deg, rgba(255,63,20,.8) 0%, rgba(255,20,108,.8) 34%, rgba(188,40,255,.8) 67%, rgba(40,167,255,.8) 100%);
	border-radius: 10px;
	filter: blur(30px);
	opacity: .6;
}